<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link static file -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <div>
        <!-- link image from static directory -->
        <img src="{{url_for('static', filename='images/cat8.jpg')}}" alt="catimage" height="500", width="800">
    </div>
    <br>
    <!-- render or redirect another page -->
    <a href="{{url_for('message_page')}}">Click here</a><br>
    <!-- pass value from here -->
    <a href="{{url_for('message_page2', value='alamin')}}">Click here</a>
</body>
</html>